.artist-items-page .img-container {
	height: 165px;
	width: 100%;
}

.artist-items-page .img-container img {
	object-fit: cover;
	object-position: center;
}

.artist-items-page .artist-card {
	box-shadow: 0px 2px 2px 0px #00000040;
}

.artist-items-page .price-span {
	box-shadow: 0px 1px 1px 0px #00000040;
	border-radius: 5px;
}

.odd-index-colors {
	color: #a16a5e;
	background-color: #fcebd5;
}

.even-index-colors {
	background-color: #a16a5e;
	color: #fcebd5;
}

.card-buttons {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.auction-btn {
	background: #1b59ac;
	box-shadow: 0px 1px 1px 0px #00000040;
	border-radius: 2px;
}

.toggle-publish-btn {
	box-shadow: 0px 1px 1px 0px #00000040;
	border-radius: 2px;
}

.toggle-publish-btn.published {
	background-color: #1bac6f;
	color: white;
}

.toggle-publish-btn.unpublished {
	background-color: #e5e5e5;
	color: #5a5a5a;
}

.remove-btn {
	background-color: #d44c2e;
	box-shadow: 0px 1px 1px 0px #00000040;
	border-radius: 2px;
}

.edit-btn {
	box-shadow: 0px 1px 1px 0px #00000040;
	border-radius: 2px;
}

.add-new-item-div {
	border: 2px dashed #a16a5e;
	cursor: pointer;
}
