.chart-btn {
	width: 90px;
	height: 27px;
	border: none;
	border-radius: 2px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.active-btn {
	background-color: #d44c2e !important;
}
