.capture-image-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

#video {
	object-fit: cover;
	width: 100%;
	height: auto;
	aspect-ratio: 9 / 16;
}
