.find-one-btn {
	border-radius: 2px;
	font-size: 12px;
	padding: 3px 10px;
	width: 113px;
	box-shadow: 0px 1px 1px 0px #00000040;
}

.banner-container {
	background-image: url("../../assets/Bricks.png");
	background-repeat: no repeat;
	background-size: cover;
	background-position: center;
	min-height: 142px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.banner-container > div {
	padding-inline: 8px;
}

.infinite-slider {
	max-width: 100%;
	overflow: hidden;
	background-color: #edd5bb;
	cursor: pointer;
}

.slider-inner {
	width: max-content;
	display: flex;
	flex-wrap: nowrap;
	animation: move 20s linear infinite;
	gap: 25px;
}

.slider-inner.reverse {
	animation-direction: reverse;
}

@keyframes move {
	to {
		transform: translate(-50%);
	}
}

.slider-inner img {
	width: 200px;
	height: auto;
	object-fit: cover;
}

/* Carousel */
.carousel-item {
	height: 244px;
	font-size: 9px;
}

.dark-orange-bg {
	background-color: #e09686;
}

.carousel-caption img {
	margin-top: -25px;
	border: 2px solid #a16a5e;
}

.seperator {
	height: 80%;
	width: 1px;
	background: #a16a5e;
	padding: 0;
	top: 10%;
	bottom: 10%;
	position: absolute;
	left: 54%;
}

.carousel-caption {
	height: 100%;
	bottom: 0;
	top: 0;
}

span.carousel-control-next-icon,
span.carousel-control-prev-icon {
	width: 0;
	height: 0;
}
